<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="robots" content="index, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style style="text/css">
        @import url("css/bootstrap.min.css");
        @import url("css/bootstrap.css");
        * {
            margin: 0;
            padding: 0;
        }
        
        html {
            height: 100%;
            background: linear-gradient(hsl(210, 5%, 33%), hsl(120, 1%, 21%));
        }
        
        .row1 {
            background: transparent;
            color: aliceblue;
        }
        
        .row3 {
            background: #fff;
            color: hsl(210, 5%, 33%);
            margin-top: 16px;
            margin-left: 0.2%;
            margin-right: 0.6%;
        }
        
        .row3_1 {
            margin-top: 16px;
            font-size: 18px;
            font-weight: 300;
            color: #3a6d9a
        }
        
        .btn_style {
            margin-top: 16px;
        }
        
        .btn_info {
            margin-top: 16px;
            padding-top: 0.7%;
            padding-bottom: 0.7%;
            background: linear-gradient(hsl(210, 85%, 34%), hsl(210, 91%, 5%));
        }
        
        .forms {
            margin-top: 8px;
            font-size: 16px;
            font-weight: 200;
        }
        
        body {
            font-family: montserrat, arial, verdana;
            margin-left: 12%;
            margin-right: 12%;
            font-size: 14px;
            font-weight: 200;
            background: transparent;
        }
        
        .footer {
            font-family: montserrat, arial, verdana;
            font-size: 14px;
            font-weight: 200;
            color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="content-wrapper" style="margin-top:11px">
        <section class="content" ng-controller="ClientController">
            <div class='row row1'>
                <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                    Sbox Ltd
                </div>
                <div class='col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right' style="text-align:right">
                    November 09,2013(EST) | Help | MOVER FREE PLAN | Logout User
                </div>
            </div>
            <div class='row row2' style="margin-top:16px">
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                    header
                </div>
            </div>
            <div class='row row3'>
                <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style="padding-bottom:40px">
                    <div class='row3_1'>
                        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                            CLIENT - NEW
                        </div>
                        <div class='btn_style col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                            <button type="button" class="btn btn-danger">Back</button>
                            <button type="button" class="btn btn-primary btn-md" style="width:100px" ng-click="addClient(entry)">Save</button>
                        </div>
                        <div class='btn_info col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-primary btn-md' style="text-align:left">
                            CLIENT INFORMATION <span class="fa fa-angular pull-right">x</span>
                        </div>
                        <div class="forms col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="forms col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom:dotted thin">
                                <span style="color:#600606">*Required field</span>
                                <span style="color:#3a6d9a" class="info">*At least one .......</span>
                            </div>
                            <div class="forms col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table style="font-size:12px;font-weight:bold;color:#2a2a2a;" class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <tr>
                                        <td class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <label>TYPE *</label></td>
                                        <td class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <select name="selected" style="width:100%">
                                                 <option>Residential</option>
                                                    option>Residential</option>
                                                    option>Residential</option>
                                                    option>Residential</option>
                                             
                                            </td>
                                            </tr>
                                        
                                            <tr> 
                                            <td  class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <label>FIRST NAME *</label></td>
                                            <td class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <input ng-model="entry.fname" type="text" style="width:100%">
                                            </td>
                                            </tr>
                                        
                                            <tr>
                                              <td  class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <label>LAST NAME *</label></td>
                                                <td class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <input type="text" ng-model="entry.lname" style="width:100%">
                                            </td>
                                            </tr>
                                        
                                            <tr>
                                                <td  class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <label>HOME PHONE *</label></td>
                                                <td class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <input type="text" ng-model="entry.phoneHome" style="width:100%">  
                                            </td>
                                            </tr>
                                            
                                            <tr>
                                                <td  class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <label>MOBILE PHONE *</label></td>
                                                <td class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" ng-model="entry.phoneMobile" style="width:100%">
                                                </td>
                                            </tr>
                                    
                                            <tr>
                                                <td  class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <label>FAX *</label>
                                                </td>
                                                <td class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" ng-model="entry.fax" style="width:100%">
                                                </td>
                                            </tr>
                                
                                            <tr>
                                                <td  class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <label>EMAIL *</label>
                                                </td>
                                                <td class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                    <input type="text" ng-model="entry.email" style="width:100%">
                                                </td>
                                        </tr>
                                    </table>
                                       
                                    
                                  
                                </div>
                            </div>
                                
                            <div class="forms col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      
                                    <table  style="font-size:12px;font-weight:bold;color:#2a2a2a;" class=" col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                            <tr>
                                                <td  class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> <label>REFERRAL *</label></td>
                                                <td class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <select name="selected" style="width:100%;margin-left:-3.4%">
                                                    <option>Residential</option>
                                                    option>Residential</option>
                                                    option>Residential</option>
                                                    option>Residential</option>
                                                
                                                </td>
                                            </tr>
                
                                            <tr>
                                                <td  class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> <label>NOTES *</label></td>
                                            </tr>
                                    </table>
                                    <textarea ng-model="entry.notes" type="comment" style="margin-left:3%" rows='8' class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></textarea>
                            </div>
                            
                        </div>
                              
                        </div>

  
             </section>
             <div class='footer'>
                 <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
                   
                 </div>
                 <div class='col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right' style="text-align:right">
                    Copy right &copy; 2016 Sbox Ltd
                 </div>
             </div>
            </div>
    </body>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
</html>